#root {
  --navbar-desktop-height: 60px;
  --navbar-mobile-height: 50px;

  --tablet-breakpoint: 768px;
  --mobile-breakpoint: 480px;
}

.navbar-main {
  height: var(--navbar-desktop-height);
  position: static;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.body-main {
  height: calc(100vh - var(--navbar-desktop-height));
  background-image: url("/src/assets/images/shipwreck-navagio-wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}
